Task 1 : Unique Words in a Sentence

In [4]:
sentence= "python is easy and python is powerful"

words=sentence.split()

unique_words=[]
for word in words:
    if word != unique_words:
        unique_words.append(word)

print("Unique word count:", len(unique_words))
print("Unique words:", set(unique_words))

Unique word count: 7
Unique words: {'python', 'powerful', 'and', 'easy', 'is'}

Task 2: Highest Salary from Employee Data

In [8]:
details= {"Ravi":7500, "Anita":68000, "Kiran":72000}
highest_sal=0
highest_employee= ""

for name in details:
    if details[name]>highest_sal:
        highest_sal=details[name]
        highest_employee=name
print("Highest Salary:", highest_employee, "-", highest_sal)

Highest Salary: Kiran - 72000

Task 3: Find Maximum and Minimum Values

In [20]:
numbers= [45,22,89,10,66]
max=numbers[0]
min=numbers[0]

for num in numbers:
    if num>max:
        max=num
    if num<min:
        min=num

print("Max:", max)
print("Min: ", min)

Max: 89
Min:  10

Task 4: Count Products Above a Price Threshold

In [22]:
prices = [450, 1200, 899, 1500, 300]
count=0

for amt in prices:
    if amt>1000:
        count+=1

print("Product above 1000:", count)

Product above 1000: 2

Task 5: Calculate Attendance Percentage

In [ ]:
attendance = ["P", "P", "A", "P", "P"]
total=len(attendance)
present=0
for day in attendance:
    if day=="P":
        present+=1


attendance_percentage=(present/total)*100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Task 6: Remove Duplicate Phone Numbers

In [24]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_no=set(phone_numbers)
print("Unique phone no:", unique_no)

Unique phone no: {9876543210, 9123456789}

Task 7: Count Character Frequency

In [25]:
text='python'
count={}
for ch in text:
    if ch in count:
        count[ch]+=1
    else:
        count[ch]=1
print(count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Task 8: Convert List to Tuple

In [27]:
l=[10,20,30]
t=tuple(l)
print("tuple: ", t)

tuple:  (10, 20, 30)

Task 9: Check if a Key Exists in a Dictionary

In [28]:
employee={"Ravi":7500, "Anita":68000, "Kiran":72000}
check='Ravi'
if check in employee:
    print("Emp exist")
else:
    print("Emp does not exist")

Emp exist

Task 10: Calculate Average Marks

In [29]:
marks=[80, 70, 65, 75]
total= sum(marks)
avg=total/len(marks)
print("Average Marks:", avg)

Average Marks: 72.5